<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Common/_HeadPartial")
</head>
<body>
    @Html.Partial("Common/_HeaderPartial")
    @Html.Partial("Common/_SidebarPartial")

    <div class="main-container">
        <div class="pd-ltr-20 customscroll customscroll-10-p height-100-p xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Common/_FooterPartial")
        </div>
    </div>

    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
</body>
</html>
