@using InSitu.Resources.Common
@using Microsoft.OData.UriParser
@model InSitu.Web.Models.CarInformation.SizeViewModel

@{
    Layout = null;
}

<script>
    $(function () {

        $("#sizeForm").ajaxForm({
            contentType: "application/json"
        });

        $("#createSize").click(function () {
            $("#sizeForm").ajaxSubmit({
                beforeSubmit: function() {
                    $(".modal-content").waitMe({ color: "#1E90FF" });
                },
                complete: function() {
                    $(".modal-content").waitMe("hide");
                },
                success: function () {
                    $("#sizesTable").DataTable().ajax.reload();
                    $("#sizeForm").resetForm();
                    $(".insitu-notification").append(
                        `<div class="alert alert-success alert-dismissible fade show" role="alert">
								Operación finalizada exitosamente.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>`);
                },
                error: function () {
                    $(".insitu-notification").append(
                        `<div class="alert alert-danger alert-dismissible fade show" role="alert">
								Ha ocurrido un error.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>`);
                }
            });
        });
    });
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sizeForm", name = "size", @action = Url.OdataUrl("ODataRoute", new DynamicPathSegment("Sizes")) }))
{
    @Html.AntiForgeryToken()
    <div class="insitu-notification"></div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-12 col-md-2 col-form-label" })
            <div class="col-sm-12 col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
            <input type="submit" value="@CommonResource.Cancel" class="btn btn-secondary" data-dismiss="modal" />
            <input type="submit" value="@CommonResource.Create" id="createSize" class="btn btn-primary" />
        </div>
    </div>
}
