@using InSitu.Web.Utilities.Menu
<div class="left-side-bar">
    <div class="brand-logo">
        <a href="javascript:void(0)">
            <img src="~/images/insitu-logo.png" alt="">
        </a>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                @foreach (var item in @MenuConfigurationFactory.Create().Items)
                {
                    <li>
                        <a href="@Url.Action(item.Action, item.Controller)" class="dropdown-toggle no-arrow">
                            <span class="@item.Icon"></span>
                            <span class="mtext">@item.Text</span>
                        </a>
                    </li>
                }

                @foreach (var group in @MenuConfigurationFactory.Create().Groups)
                {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="@group.Icon"></span>
                            <span class="mtext">@group.Text</span>
                        </a>
                        <ul class="submenu">
                            @foreach (var item in group.Items)
                            {
                                <li>
                                    @Html.ActionLink(item.Text, item.Action, item.Controller)
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>